.inputGroup {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: #000000;
    text-align: left;
    margin-left: 4px;
}

.inputGroupInner {
    display: flex;
    align-items: center;
    position: relative; /* 버튼 위치 조정에 필요 */
    border: 1px solid #ccc;
    border-radius: 8px;
}

.clearBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.clearBtn:focus {
    outline: none;
    box-shadow: none;
}

.inputTypeToggle {
    flex: 1;
    padding: 0px 66px 0px 16px; /* 오른쪽 패딩을 늘려 버튼 두 개 공간 확보 */
    font-size: 1rem;
    border: 1px solid;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s;
    height: 50px;
}

.inputTypeToggle:focus {
    border-color: #3182ce;
    box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.3);
}

.eyeBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    right: 38px; /* eyeBtn 왼쪽에 위치 */
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.eyeBtn:focus {
    outline: none;
    box-shadow: none;
}