.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.alertBox {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
    min-width: 280px;
    max-width: 90vw;
    padding: 32px 20px 20px 20px;
    /*위 오 아 왼*/
    text-align: center;
}

.title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #000000;
    white-space: pre-line;
}

.message {
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    white-space: pre-line;
    line-height: 1.5;
}

.buttonGroup {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.confirmButton {
    background: var(--color-primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    flex: 1;
    transition: background 0.2s;
}

.confirmButton:hover {
    opacity: 0.6;
    background: var(--color-sub-primary-color);
}

.cancelButton {
    /* background: var(--color-gray-3);
    color: var(--color-gray-6); */
    border: none;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    flex: 1;
    transition: background 0.2s;
}

.cancelButton:hover {
    background: var(--color-hover);
}
