.th {
    text-align: left;
    padding: 0.75rem 1rem;
    font-weight: bold;
    color: #374151;
    border-bottom: 1px solid #e5e7eb;
}

.td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #f3f4f6;
}

.roleButton {
    color: #fff;
    border-radius: 3px;
    font-weight: 800;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}

.statusDisplay {
    background-color: #dcfce7;
    color: #166534;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    font-size: 0.875rem;

}