.th {
  text-align: center;
  padding: 0.75rem 1rem;
  font-weight: bold;
  color: #374151;
  border-bottom: 1px solid #e5e7eb;
}

.td {
  text-align: center;
  padding: 0.75rem 1rem;
  color: #6b7280;
  border-bottom: 1px solid #f3f4f6;
  word-break: break-word;

}

.roleButton {
  color: #fff;
  border-radius: 3px;
  font-weight: 800;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}

.statusDisplay {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: 600;
  font-size: 0.875rem;
  white-space: nowrap;
}

.dateDisplay {
  white-space: pre-line;
}

/* 상태별 컬러 */
.active {
  background-color: #119762ff;
  color: #fff;
}

.inactive {
  background-color: #00a9bfff;
  color: #fff;
}

.blocked {
  background-color: #fe6334;
  color: #fff;
}

.deleted {
  background-color: #ff0000ff;
  color: #fff;
}

.withdraw {
  background-color: #7300ffff;
  color: #fff;
}